---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const cactusTech: { title: string; href: string; authors: string; journal: string; year: string, desc: string}[] = [
	{
		title: "Sequential appetite suppression by oral and visceral feedback to the brainstem",
		href: "https://www.nature.com/articles/s41586-023-06758-2",
		authors: "Truong Ly, Jun Y. Oh, Nilla Sivakumar, Sarah Shehata, Naymalis La Santa Medina, Heidi Huang, Zhengya Liu, Wendy Fang, Chris Barnes, Naz Dundar, Brooke C. Jarvie, Anagh Ravi, Olivia K. Barnhill, Chelsea Li, Grace R. Lee, Jaewon Choi, Heeun Jang & Zachary A. Knight",
		journal: "Nature",
		year: "(2023)",
		desc: "Description here.",
	},
];
---

<PageLayout meta={{ title: "Home" }}>
	<section style={{ display: 'flex', alignItems: 'center' }}>
		<div style={{ flex: 1, marginRight: '20px'  }}>
		  <h1 class="title mb-6">Howdy, Heidi here.</h1>
		  <p class="mb-4">
			Hi, I'm Heidi, an undergrad at UC Berkeley studying molecular and cell biology with an emphasis in molecular therapeutics. I'm interested in improving non-viral CRISPR delivery and gene therapies. 
		  </p>
		  <SocialList />
		</div>
		<div style={{ flexShrink: 0 }}>
			<div style={{ width: '200px', height: '200px', overflow: 'hidden', borderRadius: '50%' }}>
			  <img src="src/assets/faec2d9c-7d3a-4396-9544-db751b291e6f.JPG" alt="Profile Picture" style={{ width: '100%', height: '100%', objectFit: 'cover' }} />
			</div>
		</div>
	  </section>

	  <section class="mt-16">
		<h2 class="title mb-4 text-xl">Research</h2>
		<dl class="space-y-4">
		  {cactusTech.map(({ title, href, authors, journal, year, desc }) => (
			<div class="flex flex-col gap-2" key={title}>
			  <dt>
				<span class="flex">
				  <a class="cactus-link" href={href} rel="noopener noreferrer" target="_blank">
					<span class="font-bold text-lg">{title}</span>
				  </a>
				</span>
			  </dt>
			  <dd>
				<p class="text-base"><em><strong>{journal}</em></strong> {year}</p>
				<br>
				<p>
				  {authors.split(', ').map((author, index) => (
					<span key={index} className={author === 'Heidi Huang' ? 'text-yellow-600 font-bold' : ''}>
					  {author}{index !== authors.split(', ').length - 1 ? ', ' : ''}
					</span>
				  ))}
				</p>

				<br>
				<p>{desc}</p>
			  </dd>
			</div>
		  ))}
		</dl>
	  </section>
	  
	  
	  
	  

	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
