---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const cactusTech: { title: string; href: string; authors: string; journal: string; year: string, desc: string}[] = [
	{
		title: "Sequential appetite suppression by oral and visceral feedback to the brainstem",
		href: "https://www.nature.com/articles/s41586-023-06758-2",
		authors: "T Ly, JY Oh, N Sivakumar, S Shehata, N La Santa Medina, H Huang, Z Liu, W Fang, C Barnes, N Dundar, BC Jarvie, A Ravi, OK Barnhill, C Li, GR Lee, J Choi, H Jang & ZA Knight",
		journal: "Nature",
		year: "(2023)",
		desc: "Before this project, the cNTS' response to ingestive feedback had never been directly observed in awake animals. Using optogenetic methods to record neural activity in mice, we discovered that signals from taste and gastrointestinal stretch can suppress appetite and promote satiety. This challenges the traditional belief that tasty food only stimulates consumption. My specific roles included performing behavioral and fiber photometry experiments, managing mouse colonies, and administering drugs to mice via injections.",
	},
];
---

<PageLayout meta={{ title: "Home" }}>
	<section style={{ display: 'flex', alignItems: 'center' }}>
		<div style={{ flex: 1, marginRight: '20px'  }}>
		  <h1 class="text-[1.5rem] leading-[2rem] font-semibold mb-6 rainbow-text">Howdy, Heidi here.</h1>
		  <p class="mb-4">
			I'm an undergrad at UC Berkeley studying Molecular and Cell Biology with an emphasis on Molecular Therapeutics. I am interested in gene therapies and am currently working on improving non-viral CRISPR delivery. 
		  </p>
		  <SocialList />
		</div>
		<div style={{ flexShrink: 0 }}>
			<div style={{ width: '175px', height: '175px', overflow: 'hidden', borderRadius: '50%' }}>
			  <img src='hero-img.jpg' style={{ width: '110%', height: '110%', objectFit: 'cover' }} />
			</div>
		</div>
	  </section>

	  <section class="mt-16">
		<h2 class="title mb-4 text-2xl">Research</h2>
		<p class="body-link mb-4">I am an undergraduate researcher at the <a href="https://www.rosswilsonlab.org/">Wilson Lab</a>, part of the <a href="https://innovativegenomics.org/">Innovative Genomics Institute (IGI)</a>. My <a href="https://research.berkeley.edu/surf-fellows/heidi-huang/">senior honors thesis</a> research, funded by the UC Berkeley Summer Undergraduate Research Fellowship, is on optimizing CRISPR RNP formulations for enhanced genome editing in the brain.</p> 
		
		<p class="body-link mb-4">Previously, I was a member of the <a href="https://knightlab.ucsf.edu/">Knight Lab</a> at UCSF, where I worked on a project regarding the neural circuits responsible for satiation, specifically examining how the caudal nucleus of the solitary tract (cNTS) responds to ingestive feedback.</p> 

		<p class="body-link mb-4">In high school, I got my first taste of wet lab research in the <a href="https://ls.cgu.edu.tw/p/412-1073-1558.php">Chromatin Biology & Functional Epigenomics Laboratory</a> at Chang Gung University in Taiwan.</p>

		<h3 class="title mb-4 text-xl">Publications</h3>
		<dl class="space-y-4 mb-4">
			{cactusTech.map(({ title, href, authors, journal, year, desc }, index) => (
			<div class="flex flex-col gap-2" key={index}>
			  <dt>
				<span class="flex">
				  <a class="cactus-link" href={href} rel="noopener noreferrer" target="_blank">
					<span class="font-bold text-lg">{title}</span>
				  </a>
				</span>
			  </dt>
			  <dd>
				<p class="text-base mb-2"><em><strong>{journal}</strong></em> {year}</p>
				<p>
				  {authors.split(', ').map((author, index) => (
					<span key={index} class={author === 'H Huang' ? 'text-yellow-600 font-bold' : ''}>
					  {author}{index !== authors.split(', ').length - 1 ? ', ' : ''}
					</span>
				  ))}
				</p>
				<br/>
				<p class="text-base ml-4">{desc}</p>
			  </dd>
			</div>
		  ))}		  
		</dl>
	  </section>

		<h3 class="title mb-4 text-xl">Mentors</h3>
			<p class="body-link mb-4">I'm deeply grateful for the following mentors. I wouldn't be where I am today without their support at different points in my journey.
				<ul class="list-inside list-disc">
					<li>PI - Prof. Ross Wilson @ UC Berkeley / IGI</li>
					<li>Postdoc mentor - Christopher Baehr, PhD @ UC Berkeley / IGI
					<li>PI - Dr. Zachary A. Knight @ UCSF </li>
					<li>Grad student mentor - Truong Ly @ UCSF</li>
					<li>PI - Dr. Bertrand Tan @ Chang Gung University </li>
				</ul>
			</p>
		
	<section class="mt-16">
		<h2 class="title mb-4 text-2xl">Outside of research</h2>
		<p class="body-link mb-2">
			I also spend time on...
			<ul class="list-inside list-disc body-link">
				<li>Computer stuff</li>
					<li style="padding-left:20px">Front-end web development - Astro, Hugo, Javascript, HTML/CSS</li>
					<li style="padding-left:20px">Experience with Python, Java, and R</li>
				<li>Music production (Logic), guitar, DJing</li>
				<li>Lifting, basketball, running, and hiking</li>
				<li><a href="https://www.goodreads.com/user/show/165868055-heidi-huang">Reading</a> and writing</li>
			</ul>
		</p> 	
	</section>
		
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-2xl">Recent Posts</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
