---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const cactusTech: { title: string; href: string; authors: string; journal: string; year: string, desc: string}[] = [
	{
		title: "Sequential appetite suppression by oral and visceral feedback to the brainstem",
		href: "https://www.nature.com/articles/s41586-023-06758-2",
		authors: "Truong Ly, Jun Y. Oh, Nilla Sivakumar, Sarah Shehata, Naymalis La Santa Medina, Heidi Huang, Zhengya Liu, Wendy Fang, Chris Barnes, Naz Dundar, Brooke C. Jarvie, Anagh Ravi, Olivia K. Barnhill, Chelsea Li, Grace R. Lee, Jaewon Choi, Heeun Jang & Zachary A. Knight",
		journal: "Nature",
		year: "(2023)",
		desc: "Description here.",
	},
];
---

<PageLayout meta={{ title: "Home" }}>
	<section style={{ display: 'flex', alignItems: 'center' }}>
		<div style={{ flex: 1, marginRight: '20px'  }}>
		  <h1 class="title mb-6">Howdy, Heidi here.</h1>
		  <p class="mb-4">
			Hi, I'm Heidi, an undergrad at UC Berkeley studying molecular and cell biology with an emphasis in molecular therapeutics. I'm interested in improving non-viral CRISPR delivery and gene therapies. 
		  </p>
		  <SocialList />
		</div>
		<div style={{ flexShrink: 0 }}>
			<div style={{ width: '175px', height: '175px', overflow: 'hidden', borderRadius: '50%' }}>
			  <img src='hero-img.jpg' style={{ width: '110%', height: '110%', objectFit: 'cover' }} />
			</div>
		</div>
	  </section>

	  <section class="mt-16">
		<h2 class="title mb-4 text-2xl">Research</h2>
		<p class="body-link mb-4">I am an undergraduate researcher at the <a href="https://www.rosswilsonlab.org/">Wilson Lab</a>, part of the <a href="https://innovativegenomics.org/">Innovative Genomics Institute (IGI)</a>. My <a href="https://research.berkeley.edu/surf-fellows/heidi-huang/">senior honors thesis</a> research, funded by the UC Berkeley Summer Undergraduate Research Fellowship (SURF), is on optimizing CRISPR RNP formulations for enhanced genome editing in the brain.</p> 
		
		<p class="body-link mb-4">Previously, I was a member of the <a href="https://knightlab.ucsf.edu/">Knight Lab</a> at UCSF, where I worked on a project that used neural recordings to observe how the brain's caudal nucleus of the solitary tract responds to ingestive feedback in awake animals, revealing that taste and GI stretch signals can suppress appetite and promote satiety. </p> 

		<p class="body-link mb-4">In high school, I got my first taste of wet lab research in the <a href="https://ls.cgu.edu.tw/p/412-1073-1558.php">Chromatin Biology & Functional Epigenomics Laboratory</a> at Chang Gung University in Taiwan.</p>

		<h3 class="title mb-4 text-xl">Publications</h3>
		<dl class="space-y-4 mb-4">
			{cactusTech.map(({ title, href, authors, journal, year, desc }, index) => (
			<div class="flex flex-col gap-2" key={index}>
			  <dt>
				<span class="flex">
				  <a class="cactus-link" href={href} rel="noopener noreferrer" target="_blank">
					<span class="font-bold text-lg">{title}</span>
				  </a>
				</span>
			  </dt>
			  <dd>
				<p class="text-base mb-2"><em><strong>{journal}</strong></em> {year}</p>
				<p>
				  {authors.split(', ').map((author, index) => (
					<span key={index} class={author === 'Heidi Huang' ? 'text-yellow-600 font-bold' : ''}>
					  {author}{index !== authors.split(', ').length - 1 ? ', ' : ''}
					</span>
				  ))}
				</p>
				<br/>
				<p>{desc}</p>
			  </dd>
			</div>
		  ))}		  
		</dl>
	  </section>

		<h3 class="title mb-4 text-xl">Mentors</h3>
			<p class="body-link mb-4">I'm deeply grateful for the following mentors who have supported me, even when I had little to no prior lab experience at the start of my journey.
				<ul>
					<li>• PI - Prof. Ross Wilson @ UC Berkeley / IGI</li>
					<li>• Postdoc mentor - Christopher Baehr, PhD @ UC Berkeley / IGI
					<li>• PI - Dr. Zachary A. Knight @ UCSF </li>
					<li>• Grad student mentor - Truong Ly @ UCSF</li>
					<li>• PI - Dr. Bertrand Tan @ Chang Gung University </li>
					<li></li>
				</ul>
			</p>

	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-2xl">Recent Writing</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
