---
import type { SiteMeta } from "@/types";

import BaseHead from "@/components/BaseHead.astro";
import SkipLink from "@/components/SkipLink.astro";
import ThemeProvider from "@/components/ThemeProvider.astro";
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import { siteConfig } from "@/site-config";
import '@fontsource/ubuntu';
import '@fontsource/spectral';
import '@fontsource-variable/open-sans';
import '@fontsource/lato';
import Splash from "@/components/splash.astro";

interface Props {
	meta: SiteMeta;
	showSplash?: boolean;  // Add this prop
}

const {
	meta: { articleDate, description = siteConfig.description, ogImage, title },
	showSplash = false,  // Default to false
} = Astro.props;
---

<html lang={siteConfig.lang}>
	<head>
		<BaseHead articleDate={articleDate} description={description} ogImage={ogImage} title={title} />
		<meta name="google-site-verification" content="sq871GaXHfRMH3CjZruOuQ49y-DOxWZ8lpZVllAKY2o" /> <!--don't remove this. for google search console verification -->
	</head>
	<body>
		{showSplash && (
            <div class="splash-container">
                <Splash />
            </div>
        )}
		<div class="main-content">
			<ThemeProvider />
			<SkipLink />
			<Header />
			<main id="main">
				<slot />
			</main>
			<Footer />
		</div>
	</body>
</html>
